<% custom_page_title(@author.full_name) %>
<div class="container py-4">
  <h1><%= @author.full_name %></h1>
  <hr>
  <p class="mb-4"><%= @author.biography %></p>
  <h2>More from <%= @author.full_name %></h2>
  <hr>
  <div class="row">
    <% @posts.each do |post| %>
      <%= render 'posts/partials/horizontal_card', post: post %>
    <% end %>
  </div>
</div>
