<div class="container">
  <% @posts.each do |post| %>
    <% if post == @posts.first %>
      <%= render 'posts/partials/main_card', post: post %>
    <% else %>
      <%= render 'posts/partials/horizontal_card', post: post %>
    <% end %>
  <% end %>
</div>
