<h1>All posts</h1>
<% @posts.each do |post| %>
  <div class="card">
    <%= cl_image_tag post.thumbnail.key, width: 100, height: 100, crop: :fill %>
    <%= link_to post.title, post_path(post) %>
  </div>
<% end %>
