<% custom_page_title('Search page') %>
<div class="container-lg py-4">
  <span>Showing <%= @posts.count %> results for</span>
  <h1><%= @query %></h1>
  <hr>
  <div class="row">
    <% if @posts.count > 0 %>
      <% @posts.each do |post| %>
        <%= render 'posts/partials/horizontal_card', post: post %>
      <% end %>
    <% else %>
      <h2 class="text-center">No results found...</h2>
    <% end %>
  </div>
</div>
