.card-post {
  .card-post-title:after {
    content: "";
    display: block;
    width: 6rem;
    height: 4px;
    background-color: $primary;
    margin: 1rem 0 0;
  }
  a {
    color: $black;
    &:hover {
      color: $primary;
    }
  }
  .card-post-info {
    font-size: 80%;
  }
}

a img {
  transition: 0.5s;
  &:hover {
    filter: brightness(60%);
  }
}
