.card-main-post {
  position: relative;
  .card-main-post-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    a {
      background-color: $white;
      padding: 0 0.25rem;
      box-decoration-break: clone;
    }
    time {
      font-size: 80%;
      padding: 0.25rem 0.5rem;
      background-color: $primary;
      color: color-contrast($primary);
    }
  }
  @include media-breakpoint-up(md) {
    .card-main-post-thumbnail img {
      max-height: 600px;
    }
  }
  @include media-breakpoint-down(md) {
    margin: 0 -2rem;
  }
}
.card-post {
  .card-post-title:after {
    content: "";
    display: block;
    border: 2px solid $primary;
    width: 6rem;
    margin: 1rem 0 0;
  }
  a {
    color: $black;
    &:hover {
      color: $primary;
    }
  }
  time {
    font-size: 80%;
  }
}

a img {
  transition: 0.5s;
  &:hover {
    filter: brightness(60%);
  }
}
