.navbar-markdown-blog {
  justify-content: space-between;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  .navbar-collapse {
    flex-grow: 0;
  }
  .navbar-brand {
    h2 {
      margin: 0;
    }
  }
  .container {
    max-width: 1500px;
  }
  .navbar-toggler {
    border: none;
  }
  .nav-search {
    .form-control,
    .btn-search {
      border: none;
      border-bottom: 1px solid $light-gray;
      border-radius: unset;
    }
    .btn-search {
      color: $light-gray;
    }
    @include media-breakpoint-up(md) {
      max-width: 240px;
    }
  }
}
