.navbar-markdown-blog {
  justify-content: space-between;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
  .navbar-collapse {
    flex-grow: 0;
  }
  .navbar-brand {
    h2 {
      margin: 0;
    }
  }
  .container {
    max-width: 1500px;
  }
}
